<div class="card txtcenter">
  <input type="checkbox" checked="checked" id="card-<%=candidat.label%>" data-label="<%=candidat.label%>"/>
  <label for="card-<%=candidat.label%>">
    <div class="card-head w33 center">    
      <img src="<%=candidat.image%>" alt="<%=candidat.name%>" class="card-photo"/>
    </div>
    <div class="card-name">
      <span><%=candidat.name%></span>
    </div>
  </label>
</div>
