<!doctype html>
<html class="no-js" lang="fr">
    <head>
        <meta charset="UTF-8">
        <title><%=title%></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
        <link rel="stylesheet" href="/stylesheets/knacss.css" media="all">

	<!--Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:creator" content="@CheredePrince">
	<meta name="twitter:site" content="@CheredePrince">
	<meta name="twitter:title" content="Vote'n Roll">
	<meta name="twitter:description" content="L'objectif de Vote'n Roll est de simuler de réelles élections, en comparant différentes méthodes pour choisir l'élu.">
	<meta name="twitter:image:src" content="http://votenroll.cheredeprince.net/images/vignette.png">

	<meta property="og:url"                content="http://votenroll.cheredeprince.net" />
	<meta property="og:site_name"          content="http://votenroll.cheredeprince.net" />
	<meta property="og:type"               content="website" />
	<meta property="og:title"              content="Vote'n Roll" />
	<meta property="og:description"        content="L'objectif de Vote'n Roll est de simuler de réelles élections, en comparant différentes méthodes pour choisir l'élu." />
	<meta property="og:image"              content="http://votenroll.cheredeprince.net/images/vignette.png" />
	
    </head>
    <body>
        
        <header id="header" role="banner" class="line pam txtcenter">
            <h1><a href="/">Vote'n Roll</a></h1>
            <nav id="navigation" role="navigation">
	        <ul class="">
		    <li class="inbl nav-title">
			<%elections.forEach(function(e){
			    if(e.id == electionId){%>
			    <span><%=e.name%></span>
			<%}})%> : </li>
                    <li class="inbl <%=(pageName == "vote")?"selected":""%>"><a href="/vote/<%=electionId%>">L'isoloir</a></li>
                    <li class="inbl <%=(pageName == "results")?"selected":""%>"><a href="/resultats/<%=electionId%>">Les résultats</a></li>
	        </ul>
		<%if(elections.length >1){%>
		    <ul class="">
			<li class="inbl nav-title">Les autres élections : </li>
			<%elections.forEach(function(e){
			    if(e.id != electionId){%>
			    <li class="inbl"><a href="/vote/<%=e.id%>"><%=e.name%></a></li>
			<%}})
			}%>
	            </ul>
            </nav>
        </header>
        <div role="main" class="w90 medium-w75 large-w50  center txtcenter " id="main">
