<!doctype html>
<html class="no-js" lang="fr">
    <head>
        <meta charset="UTF-8">
        <title><%=title%></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
        <link rel="stylesheet" href="/stylesheets/knacss.css" media="all">
    </head>
    <body>
        
        <header id="header" role="banner" class="line pam txtcenter">
            <h1><a href="/">Vote'n Roll</a></h1>
            <nav id="navigation" role="navigation">
	        <ul class="pam">
                    <li class="pam inbl <%=(pageName == "vote")?"selected":""%>"><a href="/vote/<%=electionId%>">L'isoloir</a></li>
                    <li class="pam inbl <%=(pageName == "results")?"selected":""%>"><a href="/resultats/<%=electionId%>">Les résultats</a></li>
	        </ul>
            </nav>
        </header>
        <div role="main" class="w90 medium-w75 large-w50  center txtcenter " id="main">
