<!DOCTYPE html>
<html>
  <head>
    <title>Résultats du vote</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?2.5.0"></script>
        <meta name="viewport" content="width=device-width">
    <style type="text/css">
body {
    margin: 1em;
}
    
.node {
  stroke: #fff;
  stroke-width: 2px;
}

.link {
  fill: none;
  stroke: #000;
  opacity: .3;
}
.link.on {
  stroke: #F00;
  opacity: .7;
}

.node {
    stroke: none;
}

    </style>
  </head>
  <body>
    <%if(message){%>
    <p class="message"><%=message%></p>
    <%}%>
    
    <h1>Les Résultats des élections</h1>
    <p></p>

        <script src="/javascripts/results.js"></script>
    <script>
      var data1=  <%- JSON.stringify(data1) %>;
//      displayMajority(data1);

      var data2=  <%- JSON.stringify(data2) %>;
      displayMajority(data2,<%- JSON.stringify(title2) %>);

      var datan=  <%- JSON.stringify(datan) %>;
      displayMajority(datan,<%- JSON.stringify(titlen) %>);
    </script>

    
  </body>
</html>
