<%-include( 'partials/header',{"elections": elections, "electionId":electionId})%>
<%if(message){%>
<p class="message <%=messageType%>"><%-message%></p>
<%}%>

<% include partials/total %>

<p>Sélectionner les candidats que vous souhaitez voir apparaître parmi la liste ci-dessous : </p>
<div class="grid-6-small">
  <% election.Candidats.labels.forEach(function(cLabel){ %>
  <%-include("partials/card-select.ejs",{"candidat":election.Candidats[cLabel] }) %>
  <%})%>
</div>

<% voteModesInfo.forEach(function(voteInfo){ %>
<h2><%=voteInfo.name%></h2>
<p>Voici les résultats des <strong><%=voteInfo.nbVotes%></strong> votes du <%=voteInfo.name%> pour <%=electionName%>.</p>
<%var scrutins = voteInfo.scrutins;
      scrutins.forEach(function(scrutin){ %>%>
<% include partials/scrutin %>
<%})
   })%>


<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
<script>
  var Election = <%-JSON.stringify(election)%>;
  var VoteMode = <%-JSON.stringify(voteModeConf)%>;
</script>		
<script src="/javascripts/results.min.js"></script>

<%-include partials/footer%>
