<%-include partials/header%>

<h1>Faites votre vote</h1>
<%if(message){%>
    <p class="message <%=messageType%>"><%-message%></p>
<%}%>

<%if(ejs.indexOf('vote-pref') != -1){%>
    <%-include partials/vote-pref%>
<%}%>

<script src="/javascripts/form.js"></script>
<%-include partials/footer%>
